@model IndexViewModel;
@{
    ViewData["Title"] = "Result";
}

<section class="head py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Результаты расчёта</h1>
            <p class="lead text-muted">В результате расчета определяются тепловой и материальный балансы работы обжигового шахтного агрегата, а также зависимость суммарного прихода тепла от процентного содержания марганцовистого известняка</p>

        </div>
    </div>
</section>

<div class="result-content bg-light py-4">

    <div class="result-balance-controll fixed-bottom p-4" style="max-width: 1920px; padding: 0 10px 0 10px; margin: 0 auto;">
        <button id="balanceConfigure" type="button" class="btn btn-secondary">Показать на тонну</button>
        <button id="percent" type="button" class="btn btn-secondary">Показать в %</button>
    </div>

    <div class="result-container d-flex flex-wrap" style="max-width: 1920px; padding: 0 10px 0 10px; margin: 0 auto;">
        <div class="result-first-stage d-flex flex-wrap justify-content-between w-100">
            <div class="gas-content">
                <h1 class="h3">Расчёт по составу отводимых газов</h1>
                <table id="gas-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th class="text-center">α<sup>газ</sup>, доли ед</th>
                            <th class="text-center">Vα<sup>г</sup>, м<sup>3</sup>/кг</th>
                            <th class="text-center">V<sub>отх</sub><sup>г</sup>, м<sup>3</sup>/ч</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].Gas_A, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].Gas_V_Alpha, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].Gas_V_Waste, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="device-content">
                <h1 class="h3">Расчёт по приборам</h1>
                <table id="device-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>α<sup>прибор</sup>, доли ед</th>
                            <th>Vα<sup>пр</sup>, м<sup>3</sup>/кг</th>
                            <th>V<sub>отх</sub><sup>пр</sup>, м<sup>3</sup>/ч</th>
                            <th>L<sub>α</sub>, м<sup>3</sup>/кг</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].Device_A, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].Device_V_Alpha, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].Device_V_Waste, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].La, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="gas-device-difference-content">
                <h1 class="h3">Расчётная разность</h1>
                <table id="gas-device-difference-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Разность, м<sup>3</sup>/ч</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].Waste_Difference, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="heat-content">
                <h1 class="h3">Теплосодержание, кДж/м<sup>3</sup></h1>
                <table id="heat-content-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>qCO</th>
                            <th>qCO2</th>
                            <th>qO2</th>
                            <th>qN2</th>
                            <th>qSum</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].qCO, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].qCO2, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].qO2, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].qN2, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].qSum, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="result-second-stage d-flex flex-wrap justify-content-between w-100 mt-5">
            <div class="material-balance-coming-content">
                    <h1 class="h3 material-balance-coming-heading">Материальный баланс (приход), кг/ч</h1>
                    <table id="material-balance-coming-table-hour" class="table table-result table-balance table-balance-hour table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">См</th>
                                <th>Габбро</th>
                                <th>Известняк</th>
                                <th>Марг.изв</th>
                                <th>Кокс</th>
                                <th>Природный газ</th>
                                <th>Воздух</th>
                                <th>Суммарный приход</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                for (int i = 0; i < @Model.Results.Count; i++)
                                {

                                    <tr>
                                        @if (i % 12 == 0)
                                        {
                                            <td rowspan="12">@(i/12+1)</td>
                                        }

                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Gabbro * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Limestone * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_M_Limestone * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Cocks * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Gas * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_Air, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_SumPlus, 3)</p>
                                        </td>
                                    </tr>

                                }

                            }
                        </tbody>
                    </table>
                    <table id="material-balance-coming-table-tonn" class="table table-result table-balance table-balance-tonn table-bordered table-responsive table-hide">
                        <thead>
                            <tr>
                                <th class="text-center">См</th>
                                <th>Габбро</th>
                                <th>Известняк</th>
                                <th>Марг.изв</th>
                                <th>Кокс</th>
                                <th>Природный газ</th>
                                <th>Воздух</th>
                                <th>Суммарный приход</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{

                                for (int i = 0; i < @Model.Results.Count; i++)
                                {
                                    <tr>
                                        @if (i % 12 == 0)
                                        {
                                            <td rowspan="12">@(i/12+1)</td>
                                        }
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalanceOnTonOfSmelt_Gabbro), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalanceOnTonOfSmelt_Limestone), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalanceOnTonOfSmelt_M_Limestone), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalanceOnTonOfSmelt_Cocks), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalanceOnTonOfSmelt_Gas), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalanceOnTonOfSmelt_Air, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalanceOnTonOfSmelt_SumPlus, 3)</p>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <table id="material-balance-coming-table-percent" class="table table-result table-balance table-balance-percent table-bordered table-responsive table-hide">
                        <thead>
                            <tr>
                                <th class="text-center">См</th>
                                <th>Габбро</th>
                                <th>Известняк</th>
                                <th>Марг.изв</th>
                                <th>Кокс</th>
                                <th>Природный газ</th>
                                <th>Воздух</th>
                                <th>Суммарный приход</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{

                                for (int i = 0; i < @Model.Results.Count; i++)
                                {
                                    <tr>
                                        @if (i % 12 == 0)
                                        {
                                            <td rowspan="12">@(i/12+1)</td>
                                        }
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Gabbro), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Limestone), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_M_Limestone), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Cocks), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Gas), 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(100 * Model.Results[i].MaterialBalance_Air / Model.Results[i].MaterialBalance_SumPlus, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(100 * Model.Results[i].MaterialBalance_SumPlus / Model.Results[i].MaterialBalance_SumPlus, 3)</p>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            <div class="material-balance-consumption-content">
                    <h1 class="h3 material-balance-consumption-heading">Материальный баланс (расход), кг/ч</h1>
                    <table id="material-balance-consumption-table-hour" class="table table-result table-balance table-balance-hour table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">См</th>
                                <th>Расплав</th>
                                <th>Отходящие газы</th>
                                <th>Пыль</th>
                                <th>Суммарный расход</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                for (int i = 0; i < @Model.Results.Count; i++)
                                {

                                    <tr>
                                        @if (i % 12 == 0)
                                        {
                                            <td rowspan="12">@(i/12+1)</td>
                                        }

                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_Smelt, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_OutputGas, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_Dust, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_WasteSum, 3)</p>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                    <table id="material-balance-consumption-table-tonn" class="table table-result table-balance table-balance-tonn table-bordered table-responsive table-hide">
                        <thead>
                            <tr>
                                <th class="text-center">См</th>
                                <th>Расплав</th>
                                <th>Отходящие газы</th>
                                <th>Пыль</th>
                                <th>Суммарный расход</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                for (int i = 0; i < @Model.Results.Count; i++)
                                {

                                    <tr>
                                        @if (i % 12 == 0)
                                        {
                                            <td rowspan="12">@(i/12+1)</td>
                                        }

                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalanceOnTonOfSmelt_Smelt, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalanceOnTonOfSmelt_OutputGas, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalanceOnTonOfSmelt_Dust, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Results[i].MaterialBalanceOnTonOfSmelt_WasteSum, 3)</p>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>

                    <table id="material-balance-consumption-table-percent" class="table table-result table-balance table-balance-percent table-bordered table-responsive table-hide">
                        <thead>
                            <tr>
                                <th class="text-center">См</th>
                                <th>Расплав</th>
                                <th>Отходящие газы</th>
                                <th>Пыль</th>
                                <th>Суммарный расход</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{

                                for (int i = 0; i < @Model.Results.Count; i++)
                                {
                                    <tr>
                                        @if (i % 12 == 0)
                                        {
                                            <td rowspan="12">@(i/12+1)</td>
                                        }
                                        <td>
                                            <p class="text-center">@Math.Round(100 * Model.Results[i].MaterialBalance_Smelt / Model.Results[i].MaterialBalance_WasteSum, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(100 * Model.Results[i].MaterialBalance_OutputGas / Model.Results[i].MaterialBalance_WasteSum, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(100 * Model.Results[i].MaterialBalance_Dust / Model.Results[i].MaterialBalance_WasteSum, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(100 * Model.Results[i].MaterialBalance_WasteSum / Model.Results[i].MaterialBalance_WasteSum, 3)</p>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            <div class="w-content">
                <h1 class="h3">Теплоёмкости потоков, Дж/(кг·К)</h1>
                <table id="w-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Wм</th>
                            <th>Wг</th>
                            <th>Wм/Wг</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].W_m, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].W_g, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].W_m_g, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="result-third-stage heat-balance-content d-flex flex-wrap justify-content-between w-100  mt-5">
            <div class="heat-balance-coming-content">
                <h1 class="h3 heat-balance-coming-heading">Тепловой баланс (приход), кДж</h1>
                <table id="heat-balance-coming-table-hour" class="table table-result table-balance table-balance-hour table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Воздух</th>
                            <th>Кокс</th>
                            <th>Природный газ</th>
                            <th>Суммарный приход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Air, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Cocks, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Gas, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_SumPlus, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
                <table id="heat-balance-coming-table-tonn" class="table table-result table-balance table-balance-tonn table-bordered table-responsive table-hide">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Воздух</th>
                            <th>Кокс</th>
                            <th>Природный газ</th>
                            <th>Суммарный приход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_Air, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_Cocks, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_Gas, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_SumPlus, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>

                <table id="heat-balance-coming-table-percent" class="table table-result table-balance table-balance-percent table-bordered table-responsive table-hide">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Воздух</th>
                            <th>Кокс</th>
                            <th>Природный газ</th>
                            <th>Суммарный приход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_Air / Model.Results[i].TeploBalance_SumPlus, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_Cocks / Model.Results[i].TeploBalance_SumPlus, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_Gas / Model.Results[i].TeploBalance_SumPlus, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_SumPlus / Model.Results[i].TeploBalance_SumPlus, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="heat-balance-consumption-content">
                <h1 class="h3 heat-balance-consumption-heading">Тепловой баланс (расход), кДж</h1>
                <table id="heat-balance-consumption-table-hour" class="table table-result table-balance table-balance-hour table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Образование расплава</th>
                            <th>Отх. газы</th>
                            <th>Пыль</th>
                            <th>Хим. недожёг</th>
                            <th>Эндотерм. реакции</th>
                            <th>Потери с охл. водой</th>
                            <th>Суммарный расход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_MeltGeneration, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_OutputGas, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Dust, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_ChemistryUnderburning, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Endoterm_Reactions, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_CoolingWater, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_SumWaste, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
                <table id="heat-balance-consumption-table-tonn" class="table table-result table-balance table-balance-tonn table-bordered table-responsive  table-hide">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Образование расплава</th>
                            <th>Отх. газы</th>
                            <th>Пыль</th>
                            <th>Хим. недожёг</th>
                            <th>Эндотерм. реакции</th>
                            <th>Потери с охл. водой</th>
                            <th>Суммарный расход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_MeltGeneration, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_OutputGas, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_Dust, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_ChemistryUnderburning, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_Endoterm_Reactions, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_CoolingWater, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalanceOnTonOfSmelt_SumWaste, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>

                <table id="heat-balance-consumption-table-percent" class="table table-result table-balance table-balance-percent table-bordered table-responsive table-hide">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Образование расплава</th>
                            <th>Отх. газы</th>
                            <th>Пыль</th>
                            <th>Хим. недожёг</th>
                            <th>Эндотерм. реакции</th>
                            <th>Потери с охл. водой</th>
                            <th>Суммарный расход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_MeltGeneration / Model.Results[i].TeploBalance_SumWaste, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_OutputGas / Model.Results[i].TeploBalance_SumWaste, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_Dust / Model.Results[i].TeploBalance_SumWaste, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_ChemistryUnderburning / Model.Results[i].TeploBalance_SumWaste, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_Endoterm_Reactions / Model.Results[i].TeploBalance_SumWaste, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_CoolingWater / Model.Results[i].TeploBalance_SumWaste, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(100 * Model.Results[i].TeploBalance_SumWaste / Model.Results[i].TeploBalance_SumWaste, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="result-fourth-stage d-flex flex-wrap w-100  mt-5">
            <div class="oxides-content ml-auto">
                <div class="oxides-percent">
                    <h1 class="h3">Содержание оксидов, %</h1>
                    <table id="oxides-percent-table" class="table table-result table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">См</th>
                                <th>SiO<sub>2</sub></th>
                                <th>Al<sub>2</sub>O<sub>3</sub></th>
                                <th>CaO</th>
                                <th>MgO</th>
                                <th>FeO</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                for (int i = 0; i < @Model.Results.Count; i++)
                                {

                                    <tr>
                                        @if (i % 12 == 0)
                                        {
                                            <td rowspan="12">@(i/12+1)</td>
                                        }

                                        <td>
                                            <p class="text-center">@Math.Round(Model.Inputs[i].SiO2, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Inputs[i].Al2O3, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Inputs[i].CaO, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Inputs[i].MgO, 3)</p>
                                        </td>
                                        <td>
                                            <p class="text-center">@Math.Round(Model.Inputs[i].FeO, 3)</p>
                                        </td>
                                    </tr>

                                }
                            }

                        </tbody>
                    </table>
                </div>
                <div class="oxides-average">
                    <h1 class="h3">Cреднее содержание оксидов, %</h1>
                    <table id="oxides-average-table" class="table table-result table-bordered table-responsive" style="height: fit-content;">
                        <thead>
                            <tr>
                                <th>SiO<sub>2</sub></th>
                                <th>Al<sub>2</sub>O<sub>3</sub></th>
                                <th>CaO</th>
                                <th>MgO</th>
                                <th>FeO</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <p class="text-center">@Math.Round(100 * Model.AverageSiO2, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(100 * Model.AverageAl2O3, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(100 * Model.AverageCaO, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(100 * Model.AverageMgO, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(100 * Model.AverageFeO, 3)</p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="graphic-content mr-auto ml-4" style="width: 500px;">
                <h1 class="h3 text-center">Зависимость суммарного прихода тепла от процентного содержания марганцовистого известняка</h1>
                <div class="graphic">
                    <canvas id="myChart" width="400" height="400" style="margin-bottom: 50px"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Model.Chart.lables_Json,
            datasets: [{
                label: 'Суммарный приход тепла, кДж',
                data: @Model.Chart.data_Json,
                fill: false,
                borderColor: "#325082",
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Суммарный приход тепла, кДж'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: "Содержание марганцовистого известняка, кг/ч"
                    }
                }]
            },
            legend: {
                position: 'bottom',
                //labels: {
                //    fontFamily: 'OpenSans-Regular',
                //}
            }
        }
    });
</script>

@* НЕОБХОДИМО УДАЛИТЬ *@
<table id="table" class="table table-bordered table-responsive" style="display: none;">



    @{

        for (int i = 0; i < @Model.Results.Count; i++)
        {

            <tr>
                <td>
                    <label class="form-control" name="[@i].W_m_g" type="text">@Model.Results[i].W_m_g</label>
                </td>

            </tr>


        }
    }

</table>

