@model IndexViewModel;
@{
    ViewData["Title"] = "Result";
}

<div class="result-content">
    <div class="result-container container-fluid d-flex flex-wrap">
        <div class="gas-content">
            <h1 class="h3">Расчёт по составу отводимых газов</h1>
            <table id="gas-table" class="table table-result table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">См</th>
                        <th class="text-center">α<sup>газ</sup>, доли ед</th>
                        <th class="text-center">Vα<sup>г</sup>, м<sup>3</sup>/кг</th>
                        <th class="text-center">V<sub>отх</sub><sup>г</sup>, м<sup>3</sup>/ч</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 0; i < @Model.Results.Count; i++)
                        {

                            <tr>
                                @if (i % 12 == 0)
                                {
                                    <td rowspan="12">@(i/12+1)</td>
                                }

                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].Gas_A, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].Gas_V_Alpha, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].Gas_V_Waste, 3)</p>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="device-content">
            <h1 class="h3">Расчёт по приборам</h1>
            <table id="device-table" class="table table-result table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">См</th>
                        <th>α<sup>прибор</sup>, доли ед</th>
                        <th>Vα<sup>пр</sup>, м<sup>3</sup>/кг</th>
                        <th>V<sub>отх</sub><sup>пр</sup>, м<sup>3</sup>/ч</th>
                        <th>L<sub>α</sub>, м<sup>3</sup>/кг</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        for (int i = 0; i < @Model.Results.Count; i++)
                        {

                            <tr>
                                @if (i % 12 == 0)
                                {
                                    <td rowspan="12">@(i/12+1)</td>
                                }

                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].Device_A, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].Device_V_Alpha, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].Device_V_Waste, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].La, 3)</p>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="gas-device-difference-content">
            <h1 class="h3">Расчётная разность</h1>
            <table id="gas-device-difference-table" class="table table-result table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">См</th>
                        <th>Разность, м<sup>3</sup>/ч</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        for (int i = 0; i < @Model.Results.Count; i++)
                        {

                            <tr>
                                @if (i % 12 == 0)
                                {
                                    <td rowspan="12">@(i/12+1)</td>
                                }

                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].Waste_Difference, 3)</p>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="heat-content">
            <h1 class="h3">Теплосодержание, кДж/м<sup>3</sup></h1>
            <table id="heat-content-table" class="table table-result table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">См</th>
                        <th>qCO</th>
                        <th>qCO2</th>
                        <th>qO2</th>
                        <th>qN2</th>
                        <th>qSum</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        for (int i = 0; i < @Model.Results.Count; i++)
                        {

                            <tr>
                                @if (i % 12 == 0)
                                {
                                    <td rowspan="12">@(i/12+1)</td>
                                }

                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].qCO, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].qCO2, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].qO2, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].qN2, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].qSum, 3)</p>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="material-balance-content d-flex flex-wrap">
            <div class="material-balance-coming-content">
                <h1 class="h3">Материальный баланс (приход)</h1>
                <table id="material-balance-coming-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Габбро</th>
                            <th>Известняк</th>
                            <th>Марг.изв</th>
                            <th>Кокс</th>
                            <th>Природный газ</th>
                            <th>Воздух</th>
                            <th>Суммарный приход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Gabbro * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Limestone * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_M_Limestone * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Cocks * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round((Model.Results[i].MaterialBalance_Gas * Model.Results[i].MaterialBalance_SumPlus / 100), 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_Air, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_SumPlus, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="material-balance-consumption-content">
                <h1 class="h3">Материальный баланс (расход)</h1>
                <table id="material-balance-consumption-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Расплав</th>
                            <th>Отходящие газы</th>
                            <th>Пыль</th>
                            <th>Суммарный расход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_Smelt, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_OutputGas, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_Dust, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].MaterialBalance_WasteSum, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-content">
            <h1 class="h3">W</h1>
            <table id="w-table" class="table table-result table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">См</th>
                        <th>Wм</th>
                        <th>Wг</th>
                        <th>Wм/Wг</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        for (int i = 0; i < @Model.Results.Count; i++)
                        {

                            <tr>
                                @if (i % 12 == 0)
                                {
                                    <td rowspan="12">@(i/12+1)</td>
                                }

                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].W_m, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].W_g, 3)</p>
                                </td>
                                <td>
                                    <p class="text-center">@Math.Round(Model.Results[i].W_m_g, 3)</p>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="heat-balance-content d-flex flex-wrap">
            <div class="heat-balance-coming-content">
                <h1 class="h3">Тепловой баланс (приход)</h1>
                <table id="heat-balance-coming-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Воздух</th>
                            <th>Кокс</th>
                            <th>Природный газ</th>
                            <th>Суммарный приход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Air, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Cocks, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Gas, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_SumPlus, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="heat-balance-consumption-content">
                <h1 class="h3">Тепловой баланс (расход)</h1>
                <table id="heat-balance-consumption-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>Образование расплава</th>
                            <th>Отх. газы</th>
                            <th>Пыль</th>
                            <th>Хим. недожёг</th>
                            <th>Эндотерм. реакции</th>
                            <th>Потери с охл. водой</th>
                            <th>Суммарный расход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_MeltGeneration, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_OutputGas, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Dust, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_ChemistryUnderburning, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_Endoterm_Reactions, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_CoolingWater, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Results[i].TeploBalance_SumWaste, 3)</p>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="oxides-content">
            <div class="oxides-percent">
                <h1 class="h3">Содержание оксидов, %</h1>
                <table id="oxides-percent-table" class="table table-result table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">См</th>
                            <th>SiO<sub>2</sub></th>
                            <th>Al<sub>2</sub>O<sub>3</sub></th>
                            <th>CaO</th>
                            <th>MgO</th>
                            <th>FeO</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            for (int i = 0; i < @Model.Results.Count; i++)
                            {

                                <tr>
                                    @if (i % 12 == 0)
                                    {
                                        <td rowspan="12">@(i/12+1)</td>
                                    }

                                    <td>
                                        <p class="text-center">@Math.Round(Model.Inputs[i].SiO2, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Inputs[i].Al2O3, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Inputs[i].CaO, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Inputs[i].MgO, 3)</p>
                                    </td>
                                    <td>
                                        <p class="text-center">@Math.Round(Model.Inputs[i].FeO, 3)</p>
                                    </td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
            <div class="oxides-average">
                <h1 class="h3">Cреднее содержание оксидов, %</h1>
                <table id="oxides-average-table" class="table table-result table-bordered table-responsive" style="height: fit-content;">
                    <thead>
                        <tr>
                            <th>SiO<sub>2</sub></th>
                            <th>Al<sub>2</sub>O<sub>3</sub></th>
                            <th>CaO</th>
                            <th>MgO</th>
                            <th>FeO</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <p class="text-center">@Math.Round(Model.AverageSiO2, 3)</p>
                            </td>
                            <td>
                                <p class="text-center">@Math.Round(Model.AverageAl2O3, 3)</p>
                            </td>
                            <td>
                                <p class="text-center">@Math.Round(Model.AverageCaO, 3)</p>
                            </td>
                            <td>
                                <p class="text-center">@Math.Round(Model.AverageMgO, 3)</p>
                            </td>
                            <td>
                                <p class="text-center">@Math.Round(Model.AverageFeO, 3)</p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<table id="table" class="table table-bordered table-responsive" style="display: none;">
    <thead class="sticky-header">
        <tr>
            <th>Смены</th>

            @*/------------------------GAS-----------------------/*@
            <th>a<sup>газ</sup>, доли ед</th>
            <th>Va<sup>г</sup>, м<sup>3</sup>/кг</th>
            <th>V<sub>отх</sub><sup>г</sup>, м<sup>3</sup>/ч</th>

            @*/------------------------DEVICE--------------------/*@
            <th>a<sup>прибор</sup>, доли ед</th>
            <th>Va<sup>пр</sup>, м<sup>3</sup>/кг</th>
            <th>V<sub>отх</sub><sup>пр</sup>, м<sup>3</sup>/ч</th>
            <th>L<sub>0</sub>, м<sup>3</sup>/кг</th>

            @*/------------------------GAS_DEVICE----------------/*@
            <th>Разность, м<sup>3</sup>/ч/%</th>

            @*/------------------------MATERIAL_BALANCE----------/*@
            <th>Габбро, кг/ч</th>
            <th>Известняк, кг/ч</th>
            <th>Марг.изв, кг/ч</th>
            <th>Кокс, кг/ч</th>
            <th>Природный газ, кг/ч</th>
            <th>Воздух, кг/ч</th>
            <th>Суммарный приход, кг/ч</th>

            <th>Расплав, кг/ч</th>
            <th>Отходящие газы, кг/ч</th>
            <th>Пыль, кг/ч</th>
            <th>Суммарный расход, кг/ч</th>

            @*/----------MATERIAL_BALANCE_ON_TON_OF_SMELT--------/*@
            <th>Габбро, кг/т</th>
            <th>Известняк, кг/т</th>
            <th>Марг.изв, кг/т</th>
            <th>Кокс, кг/т</th>
            <th>Природный газ, кг/т</th>
            <th>Воздух, кг/т</th>
            <th>Суммарный приход, кг/т</th>

            <th>Расплав, кг/т</th>
            <th>Отходящие газы, кг/т</th>
            <th>Пыль, кг/т</th>
            <th>Суммарный расход, кг/т</th>

            @*/------------------------TEPLOVOY_BALANCE----------/*@
            <th>Воздух, кВт</th>
            <th>Кокс, кВт</th>
            <th>Природный газ, кВт</th>
            <th>Суммарный приход, кВт</th>
            <th>Образование расплава, кВт</th>
            <th>Отходящие газы, кВт</th>
            <th>Пыль, кВт</th>
            <th>Химический недожёг, кВт</th>
            <th>Эндотермические реакции, кВт</th>
            <th>Потери с охлаждающей водой, кВт</th>
            <th>Суммарный расход, кВт</th>

            @*/----------TEPLOVOY_BALANCE_ON_TON_OF_SMELT--------/*@
            <th>Воздух, кВт/т</th>
            <th>Кокс, кВт/т</th>
            <th>Природный газ, кВт/т</th>
            <th>Суммарный приход, кВт/т</th>

            <th>Образование расплава, кВт/т</th>
            <th>Отходящие газы, кВт/т</th>
            <th>Пыль, кВт/т</th>
            <th>Химический недожёг, кВт/т</th>
            <th>Эндотермические реакции, кВт/т</th>
            <th>Потери с охлаждающей водой, кВт/т</th>
            <th>Суммарный расход, кВт/т</th>

            @*/-------------------------Q-шки--------------------/*@
            <th>qCO, кДж/м<sup>3</sup></th>
            <th>qCO2, кДж/м<sup>3</sup></th>
            <th>qO2, кДж/м<sup>3</sup></th>
            <th>qN2, кДж/м<sup>3</sup></th>
            <th>qSum, кДж/м<sup>3</sup></th>

            @*/-------------------------W-шки--------------------/*@
            <th>Wм</th>
            <th>Wг</th>
            <th>Wм/Wг</th>

            @*/---------------------THE--END---------------------/*@
        </tr>
    </thead>


    @{

        for (int i = 0; i < @Model.Results.Count; i++)
        {
            if (i % 12 == 0)
            {
                <td rowspan="13">@(i/12+1)</td>
            }

            <tr>
                @*/----------------------------------------------GAS--------------------------------------------------/*@
                <td>
                    <label class="form-control" name="[@i].Gas_A" type="text">@Model.Results[i].Gas_A</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].Gas_V_Alpha" type="text">@Model.Results[i].Gas_V_Alpha</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].Gas_V_Waste" type="text">@Model.Results[i].Gas_V_Waste</label>
                </td>
                @*/----------------------------------------------DEVICE-----------------------------------------------/*@
                <td>
                    <label class="form-control" name="[@i].Device_A" type="text">@Model.Results[i].Device_A</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].Device_V_Alpha" type="text">@Model.Results[i].Device_V_Alpha</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].Device_V_Waste" type="text">@Model.Results[i].Device_V_Waste</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].La" type="text">@Model.Results[i].La</label>
                </td>
                @*/----------------------------------------------GAS_DEVICE-------------------------------------------/*@
                <td>
                    <label class="form-control" name="[@i].Waste_Difference" type="text">@Model.Results[i].Waste_Difference</label>
                </td>
                @*/----------------------------------------------MATERIAL_BALANCE-------------------------------------/*@
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_Gabbro" type="text">@(Model.Results[i].MaterialBalance_Gabbro*Model.Results[i].MaterialBalance_SumPlus / 100)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_Limestone" type="text">@(Model.Results[i].MaterialBalance_Limestone*Model.Results[i].MaterialBalance_SumPlus / 100)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_M_Limestone" type="text">@(Model.Results[i].MaterialBalance_M_Limestone*Model.Results[i].MaterialBalance_SumPlus / 100)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_Cocks" type="text">@(Model.Results[i].MaterialBalance_Cocks*Model.Results[i].MaterialBalance_SumPlus / 100)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_Gas" type="text">@(Model.Results[i].MaterialBalance_Gas*Model.Results[i].MaterialBalance_SumPlus / 100)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_Air" type="text">@Model.Results[i].MaterialBalance_Air</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_SumPlus" type="text">@Model.Results[i].MaterialBalance_SumPlus</label>
                </td>
                @* /Сверху приход, снизу расход ///// *@
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_Smelt" type="text">@Model.Results[i].MaterialBalance_Smelt</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_OutputGas" type="text">@Model.Results[i].MaterialBalance_OutputGas</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_Dust" type="text">@Model.Results[i].MaterialBalance_Dust</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalance_WasteSum" type="text">@Model.Results[i].MaterialBalance_WasteSum</label>
                </td>
                @*/----------------------------------------------MATERIAL_BALANCE_ON_TON_OF_SMELT---------------------/*@
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_Gabbro" type="text">@(Model.Results[i].MaterialBalanceOnTonOfSmelt_Gabbro)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_Limestone" type="text">@(Model.Results[i].MaterialBalanceOnTonOfSmelt_Limestone)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_M_Limestone" type="text">@(Model.Results[i].MaterialBalanceOnTonOfSmelt_M_Limestone)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_Cocks" type="text">@(Model.Results[i].MaterialBalanceOnTonOfSmelt_Cocks)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_Gas" type="text">@(Model.Results[i].MaterialBalanceOnTonOfSmelt_Gas)</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_Air" type="text">@Model.Results[i].MaterialBalanceOnTonOfSmelt_Air</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_SumPlus" type="text">@Model.Results[i].MaterialBalanceOnTonOfSmelt_SumPlus</label>
                </td>
                @* ////// *@
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_Smelt" type="text">@Model.Results[i].MaterialBalanceOnTonOfSmelt_Smelt</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_OutputGas" type="text">@Model.Results[i].MaterialBalanceOnTonOfSmelt_OutputGas</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_Dust" type="text">@Model.Results[i].MaterialBalanceOnTonOfSmelt_Dust</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].MaterialBalanceOnTonOfSmelt_WasteSum" type="text">@Model.Results[i].MaterialBalanceOnTonOfSmelt_WasteSum</label>
                </td>
                @*/----------------------------------------------TEPLOVOY_BALANCE-------------------------------------/*@
                <td>
                    <label class="form-control" name="[@i].TeploBalance_Air" type="text">@Model.Results[i].TeploBalance_Air</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalance_Cocks" type="text">@Model.Results[i].TeploBalance_Cocks</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalance_Gas" type="text">@Model.Results[i].TeploBalance_Gas</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalance_SumPlus" type="text">@Model.Results[i].TeploBalance_SumPlus</label>
                </td>
                @* ////// *@
                <td>
                    <label class="form-control" name="[@i].TeploBalance_MeltGeneration" type="text">@Model.Results[i].TeploBalance_MeltGeneration</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalance_OutputGas" type="text">@Model.Results[i].TeploBalance_OutputGas</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalance_Dust" type="text">@Model.Results[i].TeploBalance_Dust</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalance_ChemistryUnderburning" type="text">@Model.Results[i].TeploBalance_ChemistryUnderburning</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalance_Endoterm_Reactions" type="text">@Model.Results[i].TeploBalance_Endoterm_Reactions</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalance_CoolingWater" type="text">@Model.Results[i].TeploBalance_CoolingWater</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalance_SumWaste" type="text">@Model.Results[i].TeploBalance_SumWaste</label>
                </td>
                @*/----------------------------------------------TEPLOVOY_BALANCE_ON_TON_OF_SMELT---------------------/*@
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_Air" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_Air</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_Cocks" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_Cocks</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_Gas" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_Gas</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_SumPlus" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_SumPlus</label>
                </td>
                @* ////// *@
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_MeltGeneration" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_MeltGeneration</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_OutputGas" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_OutputGas</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_Dust" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_Dust</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_ChemistryUnderburning" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_ChemistryUnderburning</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_Endoterm_Reactions" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_Endoterm_Reactions</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_CoolingWater" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_CoolingWater</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].TeploBalanceOnTonOfSmelt_SumWaste" type="text">@Model.Results[i].TeploBalanceOnTonOfSmelt_SumWaste</label>
                </td>
                @*/------------------------------------------------Q-шки----------------------------------------------/*@
                <td>
                    <label class="form-control" name="[@i].qCO" type="text">@Model.Results[i].qCO</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].qCO2" type="text">@Model.Results[i].qCO2</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].qO2" type="text">@Model.Results[i].qO2</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].qN2" type="text">@Model.Results[i].qN2</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].qSum" type="text">@Model.Results[i].qSum</label>
                </td>
                @*/------------------------------------------------W-шки----------------------------------------------/*@
                <td>
                    <label class="form-control" name="[@i].W_m" type="text">@Model.Results[i].W_m</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].W_g" type="text">@Model.Results[i].W_g</label>
                </td>
                <td>
                    <label class="form-control" name="[@i].W_m_g" type="text">@Model.Results[i].W_m_g</label>
                </td>
                @*/---------------------------------------------------------------------------------------------------/*@

            </tr>


        }
    }

</table>
